*
!.gitignore
!bin/
!bin/**
!docs/
!docs/**
!.face
!wallpaper.jpg
!.bashrc
!.bash_completion
!.bash_functions
!.bash_profile
!.config/
!.config/kitty/
!.config/kitty/*.conf
!.config/nvim/
!.config/nvim/init.lua
!.config/fastfetch/
!.config/fastfetch/config.jsonc
!.config/hypr/
!.config/hypr/*.conf
!.config/DankMaterialShell/
!.config/DankMaterialShell/*settings*
!.config/matugen/
!.config/matugen/**
!.config/newsraft/
!.config/newsraft/**
!.config/opencode/
!.config/opencode/*.json
!.config/Thunar/
!.config/Thunar/**
!.config/yazi/
!.config/yazi/**
